.sign_inner {
    padding-top: 53px;
    padding-bottom: 74px;
    display: flex;
    .left_col {
        @include colSize(6);
        text-align: center;
    }
    .right_col {
        flex: 0 0 50%;
        max-width: 500px;
        padding-left: 30px;
        margin-left: auto;
        .section_subtitle {
            padding-bottom: 40px;
        }
    }
    .short_description {
        @extend %textSize20;
        letter-spacing: 0.02em;
	    color: $description;
        margin-top: 14px;
    }
    .image_block {
        margin: 55px -15px 0;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .sign_switch {
        @extend %standardList;
        display: flex;
        text-align: center;
        padding-bottom: 50px;
        li {
            @include colSize(6);
            border-bottom: 2px solid $grayC5;
            padding-bottom: 20px;
            padding-top: 7px;
            &.current_page {
                color: $pressColor;
                border-bottom-color: $pressColor;
                a {
                    color: inherit;
                    pointer-events: none;
                }
            }
        }
        a {
            display: inline-block;
            vertical-align: top;
            @extend %textSize24;
            font-family: $semibold;
            color: inherit;
            @include standardHover;
        }
    }
    .additional_fields {
        margin-top: -6px;
        margin-bottom: 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            display: block;
            margin-left: 20px;
            color: $pressColor;
            @extend %size14;
            font-family: $semibold;
            @include standardHover;
        }
    }
    .actions_block {
        display: flex;
        justify-content: space-between;
        .back_btn {
            align-self: flex-end;
        }
    }
    .submit_btn {
        padding-left: 20px;
        margin-left: auto;
        button {
            @extend %primary;
            min-width: 230px;
            @extend %size18;
            letter-spacing: 0.02em;
            padding: 15px;
        }
    }
    .social_sign {
        flex: 1;
        .sign_label {
            font-size: 140%;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: $disableColor;
            font-family: $semibold;
            margin-bottom: 5px;
            display: none;
        }
        a,
        button {
            // display: inline-flex;
            // vertical-align: top;
            // width: 27px;
            // height: 27px;
            // border: none;
            // background: transparent;
            // padding: 0;
            // align-items: center;
            // justify-content: center;
            // font-size: 0;
            // line-height: 0;
            // @include overHidden;
            // @include animStyle(transform 0.3s);
            // @extend %noBlink;
            // margin-right: 24px;
            // &:hover {
            //     @include transStyle(scale(1.05));
            // }
            // img {
            //     display: block;
                
            // }
            flex: 1;
            @extend %secondary;
            @extend %size16;
            font-family: $bold;
            letter-spacing: 0.08em;
            padding: 10px;
            min-height: 50px;
            width: 100%;
            white-space: nowrap;
            img {
                display: block;
                width: 24px;
                height: auto;
                margin-right: 15px;
            }
        }
    }
    @include mediaRange($size768, 1024px) {
        .actions_block {
            flex-wrap: wrap;
        }
        .social_sign {
            @include colSize(12);
            margin-top: 20px;
            order: 2;
            ~ .submit_btn {
                @include colSize(12);
                padding: 0;
                a, button {
                    width: 100%;
                }
            }
            a, button {
                margin-right: 0;
            }
        }
    }
    @include mediaTo($size960) {
        padding-top: 40px;
        padding-bottom: 60px;
        .social_sign {
            a, button {
                margin-right: 16px;
            }
        }
        .sign_switch {
            padding-bottom: 40px;
        }
        .image_block {
            margin-top: 40px;
        }
    }
    @include mediaTo($size768) {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 50px;
        .image_block {
            margin-top: 30px;
        }
        .left_col,
        .right_col {
            flex: none;
            max-width: 480px;
            width: 100%;
            margin: 0;
        }
        .right_col {
            padding-top: 30px;
            padding-left: 0;
        }
    }
    @include mediaTo($size480) {
        .actions_block {
            flex-wrap: wrap;
        }
        .social_sign {
            @include colSize(12);
            margin-top: 20px;
            order: 2;
            ~ .submit_btn {
                @include colSize(12);
                padding: 0;
                a, button {
                    width: 100%;
                }
            }
            a, button {
                margin-right: 0;
            }
        }
    }
    @include mediaTo($size400) {
        .actions_block {
            flex-wrap: wrap;
        }
        .social_sign {
            display: flex;
            justify-content: center;
            align-items: center;
            order: 2;
            margin-top: 20px;
            @include colSize(12);
            .sign_label {
                margin-bottom: 0;
                margin-right: 16px;
            }
        }
        .submit_btn {
            padding: 0;
            @include colSize(12);
            button {
                width: 100%;
            }
        }
        .back_btn {
            height: 50px;
            + .submit_btn {
                flex: 1;
                padding-left: 20px;
                button {
                    min-width: 0;
                }
            }
        }
    }
}